*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* header & banner styles  */
.header{
    width: 1600px;
    height: 809px;
    left: 0px;
    top: 0px;
 
    
}

.header img{
    width: 1600px;
    height: 809px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.banner{
    display: flex;
    margin: 0 200px;
    justify-content: flex-end;
}

.banner-title{
    position: absolute;
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    text-align: right;
    left: 845px;
    top: 216px;
    z-index: 1;
}

.banner-description{
    position: absolute;
    color: #444343;
    font-size: 20px;
    left: 850px;
    top: 468px;
}

/* button used  */
.btn-primary{
    position: absolute;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    
    background: #FD6E0A;
    color: #FFFFFF;
    left: 1130px;
   top: 578px;
    
}

.btn-secondary{
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    margin-left: 15px;
    background-color: #FFFFFF;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

/* main section styles  */
main{
    max-width: 1600px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* failure section styles  */

.failures{
    display: flex;
    justify-content: space-between;
    gap: 87px;
    
}

.failures .failed-img{
    position: absolute;
    width: 527.93px;
height: 527.93px;
    left: 206px;
    top: 939px;
  
   
   
}



.failures .failure-text{
    position: absolute;
    width: 416px;
    height: 400px;
    left: 862px;
    top: 1178px;
}
.failures .failure-text .failure-title{
    
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    height: 94px;
    width: 288px;
    color: #151414;
    margin-bottom: 24px;
}

.failures .failure-text .failure-description{
    font-size: 20px;
    line-height: 30px;
    color: #444343;
    top: 1296px;
    margin-bottom: 24px;
}

.failures .failure-text .failure-list{
    list-style: none;
    top: 1416px;
    height: 162px;
    line-height: 26px;
    color: #444343;
}